* {
  box-sizing: border-box;
  font-family: 'Montserrat',
    sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.quote {
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 18px !important;
  line-height: 33px;
}

.icon-text {
  font-size: 17px !important;
}

.look {
  display: inline;
  padding: 5px 10px 5px 5px;
  transition: .1s ease-in;
}

.rarr {
  font-size: 25px;
}

.look:hover {
  color: rgb(255, 255, 255);
  background-color: #8d6dff !important;
  cursor: pointer;
}

p {
  font-size: 16px !important;
}

.py-25 {
  padding: 10px;
}

.w-4 {
  width: 4%
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.up-icon-width {
  width: 2.5%;
}

.w-3 {
  width: 3%;
}

.w-10 {
  width: 10%;
}

.w-40 {
  width: 40%;
}

.w-15 {
  width: 15%;
}

.w-90 {
  width: 90%;
}

.w-60 {
  width: 60%;
}

p {
  font-size: 14px;
}

.pale {
  color: #8d6dff;
  text-shadow: 0px 0px 20px white;
}

.bg-pale {
  background-color: #997dff;
}

.bg-skills {
  background: linear-gradient(90deg, #9ff0ca, hsl(255, 93%, 84%));
}

.bg-icon {
  background: linear-gradient(90deg, #c3ffe3, hsl(256, 100%, 88%));
}

.my-photo {
  width: 310px;
  height: 300px;
  background: linear-gradient(90deg, rgba(11, 192, 123, .1), rgba(107, 46, 168, .1)),
    url("img/photo.png") center center/cover no-repeat;
  border-radius: 50%;
  box-shadow: 0px 5px 30px 1px grey;
}

.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #00b15e, #2d1763);
}

.navbar-brand {
  cursor: pointer;
}

.text-name {
  background: linear-gradient(90deg, #00b158, #5a12a1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.header-text-name {
  background: linear-gradient(90deg, #00b158, #5a12a1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.from-top {
  -webkit-animation-name: moveInTop;
  animation-name: moveInTop;
  -webkit-animation-timing-function: cubic-bezier(1, -1.22, .82, 1.84);
  animation-timing-function: cubic-bezier(1, -1.22, .82, 1.84);
  -webkit-animation-duration: 2.6s;
  animation-duration: 2.6s;
}

.nav-item {
  font-size: smaller;
}

h5 {
  font-weight: 400;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 .05rem white;
}

.nav-link {
  transition: .1s ease-in-out;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.active {

  border-bottom-color: white !important;
}

#home {
  height: 100vh;
  padding-top: 15vh;
  background: linear-gradient(90deg, #e8fdf3, #f5f1ff);
}

.header-text {
  color: #414141;
  width: 90%;
}

.up-btn {
  right: 47.5% !important;
  bottom: 5% !important;
}

.percent {
  position: relative;
  bottom: 20px;
}

.btn-home {
  background-color: white;
  border: 1px solid #b19cff;
  color: #8e6eff;
  box-shadow: 0px 0px 15px rgb(221, 221, 221);
}

.btn-home:hover {
  color: white;
  background-color: #8e6eff;
  box-shadow: 0px 5px 10px rgb(146, 146, 146);
  transform: scale(1.01);
}

.btn-home:active {
  box-shadow: 0px 2px 10px rgb(146, 146, 146);
  transform: translateY(.5px);
}

.services {
  border: 3px solid white;
}

#skills {
  background: linear-gradient(90deg, #e8fdf3, #f5f1ff);
}

.project {
  width: 400px;
  position: relative;
}

.project-btn {
  background-color: #694ada;
  border: 1px solid #694ada;
  color: white;
  transition: .05s ease-in;
}

.project-btn:hover {
  background-color: #8d6dff;
  border: 1px solid #8d6dff;
  color: white;
  box-shadow: 0px 0px 3px white;
}

.details {
  border-radius: 10px !important;
  box-shadow: 0px 0px 40px 1px rgb(187, 187, 187);
}

.overlay {
  position: absolute;
  width: 100%;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 1;
  visibility: hidden;
}

.project::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 96%;
  height: 89%;
  opacity: .8;
  border-radius: 10px;
  visibility: hidden;
  border: 2px solid rgb(0, 0, 0);
}

.display-4 {
  font-weight: 400;
}

.project:hover::after {
  visibility: visible;
}

.project:hover .overlay {
  visibility: visible;
  z-index: 100;
}

.project:hover .project-name {
  -webkit-animation-name: moveInRight;
  animation-name: moveInRight;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

.project:hover .code {
  -webkit-animation-name: moveInLeft;
  animation-name: moveInLeft;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

.project:hover .project-btn {
  -webkit-animation-name: moveInBottom;
  animation-name: moveInBottom;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
}

#contact {
  background: linear-gradient(90deg, #e8fdf3, #f5f1ff);
}

input,
textarea {
  box-shadow: none !important;
  border: 1px solid #b19cff !important;
}

input:focus,
textarea:focus {
  box-shadow: 0px 0px 7px rgb(175, 175, 175) !important;
  border: 1px solid #b19cff !important;
  background-color: white !important;
}

.footer {
  background: linear-gradient(90deg, #00b15e, #2d1763);
}

.footer .text {
  font-weight: 300;
  color: #afb4ce;
}

.contact-icons {
  border-radius: 10px 10px 0 0;
  background: linear-gradient(90deg, #2cb475, #6c57a0);
}

.rounded-i {
  border-radius: 25%
}

.contact-icon {
  box-shadow: 0px 0px 15px rgb(223, 223, 223);
}

.contact-icon:hover {
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  transform: scale(1.05);
}

.up-svg {
  z-index: 10;
}

.arrow-up-position {
  position: relative;
}

.arrow-up-position-ab {
  position: absolute;
  right: 2%;
  bottom: -35px;
  background-color: #8e6eff;
  cursor: pointer;
  z-index: 5;
}

.arrow-up-position-ab::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50%;
  background: #8e6eff;
  z-index: -1;
  -webkit-animation: pulse 1000ms infinite;
  animation: pulse 1000ms infinite;
}

/* ########################################################## */
/* Animations */
@-webkit-keyframes pulse {
  0% {
    transform: scale(.95);
    opacity: .75;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    transform: scale(.95);
    opacity: .75;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateYX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateYX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes moveInCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes moveInCenter {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ###################################################################### */
/* ALL Media Queries */
@media(min-width: 1400px) {
  .mailbox {
    padding-left: 80px;
    padding-top: 70px;
    width: 90% !important;
  }

  .form-group {
    width: 80% !important;
  }
}

/* ######################################################################### */
@media(max-width: 1399px) and (min-width: 1200px) {

  #home h3 {
    font-size: 35px;
  }

  #about {
    padding-top: 5px !important;
  }

  #about .special-size {
    padding-top: 0 !important;
  }

  #about .bg-icon {
    padding: 20px !important;
    width: 80px !important;
  }

  #about .icon-name {
    font-size: 20px;
  }

  #about .icon-text {
    font-size: 14px !important;
  }

  #about .with-tablet {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  .my-photo {
    width: 250px;
    height: 240px;
  }

  .text-name {
    font-size: 48px;
  }

  #about h1 {
    font-size: 33px;

  }

  .quote {
    width: 90%;
    font-size: 17px !important;
    line-height: 30px;
  }

  .look {
    width: 40%;
  }

  #skills .row {
    width: 95%;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }

  #skills .text-name {
    padding-top: 0 !important;
  }

  .arrow-down {
    margin-top: 8vh;
  }

  .project {
    width: 355px;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .contact-icons {
    width: 25%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .mailbox {
    padding-left: 80px;
    padding-top: 90px;
    width: 85% !important;
  }

  .form-group {
    width: 80% !important;
  }

  .up-icon-width {
    width: 3%;
  }
}

/* ########################################################################## */
@media(max-width: 1199px) and (min-width: 991px) {

  .header-text {
    width: 85% !important;
  }

  .header-text {
    padding-top: 5vh;
  }

  .header-img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 70% !important;
  }

  .nav-link {
    margin: 5px 0 !important;
  }

  .arrow-down {
    margin-top: 13vh;
  }

  .bg-icon {
    width: 50% !important;
    padding: 25px !important;
  }

  .with-tablet {
    margin-top: 0 !important;
    width: 75% !important;
  }

  .look {
    width: 60%;
  }

  .w-5 {
    width: 8%;
  }

  .w-3 {
    width: 6%;
  }

  .h-responsive {
    height: 35% !important;
  }

  .project {
    width: 450px;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .project::after {
    width: 96%;
    height: 91%;
  }

  .contact-img {
    text-align: center;
    padding-top: 50px !important;
    padding-bottom: 30px !important;
  }

  .mailbox {
    width: 30% !important;
    text-align: center;
  }

  .form-group {
    padding-bottom: 80px;
    width: 65% !important;
  }

  .contact-icons {
    width: 35%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .up-icon-width {
    width: 4%;
  }
}

/* ############################################################################# */
@media(max-width: 990px) and (min-width: 577px) {

  .header-text {
    padding-top: 5vh;
  }

  .header-img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80% !important;
    padding-top: 5%;
  }

  .nav-link {
    margin: 10px 0 !important;
  }

  .arrow-down {
    margin-top: 12vh;
  }

  .bg-icon {
    width: 60% !important;
    padding: 20px !important;
  }

  .my-photo {
    width: 300px;
    height: 290px;
    margin-top: 15px;
    margin: auto;
  }

  .with-tablet {
    width: 100% !important;
  }

  .skills-responsive {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
  }

  .h-responsive {
    height: 40% !important;
  }

  .project {
    margin: auto;
  }

  .project {
    width: 550px;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .project::after {
    width: 97%;
    height: 92%;
  }

  .contact-img {
    text-align: center;
    padding-bottom: 0px !important;
  }

  .mailbox {
    width: 30% !important;
    text-align: center;
  }

  .form-group {
    width: 65% !important;
  }

  .contact-icons {
    width: 45%;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }

  .up-icon-width {
    width: 5%;
  }

  .quote {
    font-size: 17px;
    line-height: 33px;
  }

  .look {
    width: 60% !important;
  }
}

/* ########################################################## */
/* Media Query for Phone */
@media(max-width: 576px) {

  .header-phone {
    padding-top: 10vh;
  }

  .header-img {
    padding-top: 5%;
  }

  .header-text {
    width: 80%;
  }

  .arrow-down {
    display: none;
  }

  .icon-name {
    font-size: 18px;
  }

  .icon-text {
    font-size: 13px !important;
    width: 90% !important;
  }

  .w-20 {
    width: 25%;
  }

  .nav-link {
    margin: 7px 0 !important;
  }

  .bg-icon {
    width: 35% !important;
    padding: 15px !important;
  }

  .my-photo {
    width: 210px;
    height: 200px;
    margin: auto
  }

  .with-tablet {
    width: 90% !important;
  }

  .skills-responsive {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .w-4 {
    width: 7%;
  }

  .w-3 {
    width: 6%;
  }

  .h-responsive {
    height: 35% !important;
  }

  .project {
    width: 315px !important;
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .project::after {
    width: 96%;
    height: 87%;
  }

  .contact-img {
    text-align: center;
    padding-bottom: 30px;
  }

  .mailbox {
    width: 40% !important;
    text-align: center;
  }

  .form-group {
    width: 85% !important;
  }

  .contact-icons {
    width: 75%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .text {
    font-size: 12px !important;
  }

  .quote {
    font-size: 17px !important;
    display: block;
    text-align: center;
    line-height: 27px;
  }

  .look {
    margin-top: 15px;
    width: 100%;
  }
}